<div>
    <h1>Log in</h1>
    <p id="alert"><%= alert %></p>
    <%= form_tag sessions_path do %>
      <div class="field">
        <%= label_tag :email %>
        <%= text_field_tag :email, params[:email] %>
      </div>
      <div class="field">
        <%= label_tag :password %>
        <%= password_field_tag :password %>
      </div>
      <div class="actions"><%= submit_tag "Log In" %></div>
    <% end %>
</div>
<div>
    <h1>Sign Up</h1>
    <%= form_for @user do |f| %>
      <% if @user.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% for message in @user.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </div>

      <div class="field">
        <%= f.label :account_type %><br />
        <%= f.label :account_type, "Carrier", :value => "Carrier"  %>
        <%= f.radio_button :account_type, "Carrier" %>
        <%= f.label :account_type, "Vendor", :value => "Vendor" %>
        <%= f.radio_button :account_type, "Vendor" %>
      </div>
      <div class="actions"><%= f.submit %></div>
      
    <% end %>
</div>

<ul>
    <li><a href="/admin">admin</a></li>
    <li><a href="/carriers">carrier</a></li>
    <li><a href="/vendors">vendor</a></li>
</ul>