<h1>Edit Order <%= @order.origin %></h1>

<%= form_for @order do |o| %>
    <div>
        <%= o.label :origin %>
        <%= o.text_field :origin %>
    </div>
    <div>
        <%= o.label :destination %>
        <%= o.text_field :destination %>
    </div>
    <div>
        <%= o.label :delivery_deadline %>
        <%= o.text_field :delivery_deadline %>
    </div>
    <div>
        <%= o.label :price %>
        <%= o.text_field :price %>
    </div>
    <div>
        <%= o.label :weight %>
        <%= o.text_field :weight %>
    </div>
    <div>
        <%= o.label :cube %>
        <%= o.text_field :cube %>
    </div>

  <%= o.submit "Update Order" %>
<% end %>

<%= link_to "Return to Orders", orders_path %>