<h1>New Order</h1>
<%= form_for @order do |o| %>
    <div>
        <%= o.label :order_no %>
        <%= o.text_field :order_no %>
    </div>
    <div>
        <%= o.label :cubic_meters %>
        <%= o.text_field :cubic_meters %>
    </div>
    <div>
        <%= o.label :weight %>
        <%= o.text_field :weight %>
    </div>
    <div>
        <%= o.label :ask %>
        <%= o.text_field :ask %>
    </div>
    <div>
        <%= o.label :vendor %>
        <%= o.text_field :vendor %>
    </div>
    <div>
        <%= o.label :driver %>
        <%= o.text_field :driver %>
    </div>
    <div>
        <%= o.label :delivery_deadline %>
        <%= o.text_field :delivery_deadline %>
    </div>
    <div>
        <%= o.label :delivery_timestamp %>
        <%= o.text_field :delivery_timestamp %>
    </div>
  <%= o.submit "Create New Order" %>
<% end %>
<%= link_to "Return to Orders", orders_path %>