<h1>New Order</h1>
<%= form_for @order do |o| %>
    <div>
        <%= o.label :origin %>
        <%= o.select(:origin, options_for_select(Location.all.map(&:street))) %>
    </div>
    <div>
        <%= o.label :destination %>
        <%= o.select(:destination, options_for_select(Location.all.map(&:street))) %>
    </div>
    <div>
        <%= o.label :weight %>
        <%= o.text_field :weight %>
    </div>
    <div>
        <%= o.label :cube %>
        <%= o.text_field :cube %>
    </div>
    <div>
        <%= o.label :price %>
        <%= o.text_field :price %>
    </div>
    <div>
        <%= o.label :delivery_deadline %>
        <%= o.text_field :delivery_deadline %>
    </div>
  <%= o.submit "Create New Order" %>
<% end %>
<%= link_to "Return Home", vendor_path %>