<h1>Order Information</h1>

<ul>
    <li>
        Origin: 
        <%= @order.origin %>
    </li>
    <li>
        Destination:
        <%= @order.destination %> 
    </li>
    <li>
        Delivery Deadline:
        <%= @order.delivery_deadline %>
    </li>
    <li>
    Price:
        <%= @order.price %> 
    </li>
</ul>
<%=link_to "Return to Order Viewer", user_orders_path %>