<h1><%= @order.order_no%></h1>
<h1><%= @order.cubic_meters%></h1>
<h1><%= @order.weight%></h1>
<h1><%= @order.order_status%></h1>
<h1><%= @order.ask%></h1>
<h1><%= @order.vendor%></h1>
<h1><%= @order.driver%></h1>
<h1><%= @order.delivery_deadline%></h1>
<h1><%= @order.delivery_timestamp%></h1>
<%= link_to "delete", @order, method: :delete %>
<%= link_to "return to orders overview", orders_path %>