
  <head>
    <title>Vector</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
  </head>

  <body>
    <div class="header">
      <% if current_user %>
        Welcome, <%= current_user.email %>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <%= link_to 'Log Out', session_path('dummy'), method: :delete %>

      <% else %>

        Vector Transportation

      <% end %>
      <span id="clock">
        <%= Time.now.strftime("%a %b %e %T") %>
      </span>
    </div>
  </body>
    <%= yield %>

